.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
    padding: 25px;
    background-color: white;
    border-radius: 16px;
    border: 1px rgb(102, 102, 102) solid;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}